@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

@import "tailwindcss";

@theme {
  --font-archivo: "Archivo Black", sans-serif;
  --font-league:"League Spartan",sans-serif;
  --font-montserrat:"Montserrat", sans-serif;
}
.mermaid svg {
  width: 100%;
  height: auto;
}

.mermaid .node rect,
.mermaid .node circle,
.mermaid .node polygon,
.mermaid .node ellipse {
  stroke-width: 1px;
}

.mermaid .label {
  font-size: 17px;
  font-family: monospace,sans-serif;
}

